{% extends "base.html" %}


{% block head %}
{% endblock head %}

{% block title %}{{ board.subject }} {{ current_page }} 페이지{% endblock title %}


{% block content %}
{% set is_admin=get_admin_type(request, request.state.login_member.mb_id, board=board) %}
{% set sca=request.query_params.sca %}
{% set sod_reverse="asc" if request.query_params.sod == "desc" else "desc" %}

<div class="container-top-banner">

</div>

<div class="board-header">

    <h2>{{board.bo_subject}}</h2>
    <span>다양한 사람을 만나고 생각의 폭을 넓혀보세요</span>
</div>

<div class="post-list-header">
    <a href="/board/write/{{board.bo_table}}">
        <div class="write-button flex-row flex-center">

            <span class="material-symbols-outlined size-20">
                edit
            </span>

            <span>작성하기</span>
        </div>
    </a>
    <div class="flex-row flex-center">
        {% for category in categories %}
        <div>{{category}}</div>
        {% endfor %}
    </div>
    <div class="dropdown">
        <button class="btn sort-dropdown-button flex-row flex-center" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="material-symbols-outlined size-20 icon-default">sort</span>
            {% if board.bo_sort_field=="" %}
            최신순
            {% else %}
            {{board.bo_sort_field}}
            {% endif %}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">최신순</a></li>
            <li><a class="dropdown-item" href="#">추천순</a></li>
            <li><a class="dropdown-item" href="#">댓글순</a></li>
            <li><a class="dropdown-item" href="#">스크랩순</a></li>
            <li><a class="dropdown-item" href="#">조회순</a></li>
        </ul>
    </div>
</div>


<hr class="post-divider" style="width: 100%;">

<div class="flex-row-space-between" style="width: 100%;">
    <a href="/board/{{board.bo_table}}"><span
            class="material-symbols-outlined size-20 icon-default icon-hover-blue">cached</span></a>
    <div>
        <form method="get">
            <div class="search-box-container flex-row flex-center">
                <input type="hidden" name="sca" value="{{request.query_params.sca}}">
                <input type="hidden" name="sop" value="{{request.query_params.sop}}">
                <input type="hidden" name="sfl" value="wr_subject||wr_content">
                <span type="submit" class="material-symbols-outlined size-20 icon-default icon-hover-blue">search</span>
                <input name="stx" type="text" class="search-box-input" placeholder="{{board.bo_subject}} 내에서 검색" />
            </div>
        </form>
    </div>
    <div class="flex-row flex-center" style="gap: 1rem;">
        {% if current_page==0 %}
        <a><span class="material-symbols-outlined size-20 icon-hover-blue icon-default">west</span></a>
        {% else %}
        <span class="material-symbols-outlined size-20 icon-disabled">west</span>
        {% endif %}
        <span class="material-symbols-outlined size-20 icon-hover-blue icon-default">east</span>
    </div>
</div>


{% for write in writes %}
<hr class="post-divider" style="width: 100%;">

<div class="post-list-post-container flex-col">
    <div class="post-header">
        <img src="{{ get_member_icon(request, write.mb_id) }}"/>
        <span>
            {{ write.wr_name }}
        </span>
        <span>
            ·
        </span>
        <span>
            {{ write.wr_datetime|datetime_format('%y-%m-%d')}}
        </span>
    </div>
    <a href="{{ url_for('read_post', bo_table=board.bo_table, wr_id=write.wr_id)|set_query_params(request) }}">
        <span class="post-title">{{ write.subject }}</span></a>
    <div class="flex-row-space-between post-footer">
        <div>{{ write.ca_name }}</div>
        <div class="post-vcg-item-area">
            <span class="post-vcg-item">
                <span class="material-symbols-outlined size-20 icon-default">visibility</span>
                <span>
                    {{ write.wr_hit }}
                </span>
            </span>
            <span class="post-vcg-item">
                <span class="material-symbols-outlined size-20 icon-default">
                    sms
                </span>
                <span>
                    {{ write.wr_comment }}
                </span>
            </span>
            <span class="post-vcg-item">

                <span class="material-symbols-outlined size-20 icon-default">
                    thumb_up
                </span>
                <span>
                    {{write.wr_good}}
                </span>
            </span>
        </div>
    </div>
</div>


{% endfor %}

{{ paging|safe}}

{% endblock content %}